/*
    Copyright (C) 2025  Peter C. Jones <pryrtcode@pryrt.com>

    This file is part of the source code for the CollectionInterface plugin for Notepad++

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

#include <winres.h>
#include "resource.h"
#include "Version.h"

//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_COLLECTIONINTERFACEDLG DIALOGEX 0, 0, 311, 218
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Collection Interface: Download"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Download files from UDL Collection or Themes Collection", IDC_STATIC, 10, 5, 280, 9, SS_LEFT, WS_EX_LEFT
    CONTROL         "",IDC_CI_TABCTRL,"SysTabControl32",0x0,10,17,280,140
    LISTBOX         IDC_CI_COMBO_FILE, 13, 32, 272, 120, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    CONTROL         "",IDC_CI_PROGRESSBAR,"msctls_progress32",WS_BORDER,10,160,280,11
    PUSHBUTTON      "&Download", IDC_CI_BTN_DOWNLOAD, 120, 140, 60, 14
    PUSHBUTTON      "&Close", IDC_CI_BTN_DONE, 230, 175, 60, 14
END
