/*
    Copyright (C) 2025  Peter C. Jones <pryrtcode@pryrt.com>

    This file is part of the source code for the CollectionInterface plugin for Notepad++

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

#include <winres.h>
#include "resource.h"
#include "Version.h"

//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_COLLECTIONINTERFACEDLG DIALOGEX 0, 0, 300, 135
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_BORDER | WS_SYSMENU
FONT 8, "MS Shell Dlg", 0, 0, 0x1
{
    LTEXT           "Download from UDL Collection or Themes Collection", IDC_STATIC, 10, 5, 280, 9, SS_LEFT, WS_EX_LEFT
        PUSHBUTTON      "&Download", IDC_CI_BTN_DOWNLOAD, 10, 115, 60, 14
        PUSHBUTTON      "&Restart N++", IDC_CI_BTN_RESTART, 80, 115, 90, 14
        PUSHBUTTON      "&Close", IDC_CI_BTN_DONE, 230, 115, 60, 14

        LTEXT           "Category:", IDC_STATIC, 10, 23, 30, 9, SS_LEFT, WS_EX_LEFT
        COMBOBOX        IDC_CI_COMBO_CATEGORY, 50, 20, 240, 52, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP

        LTEXT           "File:", IDC_STATIC, 10, 41, 30, 9, SS_LEFT, WS_EX_LEFT
        //COMBOBOX        IDC_CI_COMBO_FILE, 50, 40, 240, 55, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
        LISTBOX         IDC_CI_COMBO_FILE, 50, 40, 240, 70, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP

        LTEXT           "Need RESTART for Notepad++ to see new UDL/AutoCompletion/FunctionList/Themes", IDC_STATIC, 10, 105, 280, 9, SS_LEFT, WS_EX_LEFT
}
