/*
    Copyright (C) 2025  Peter C. Jones <pryrtcode@pryrt.com>

    This file is part of the source code for the CollectionInterface plugin for Notepad++

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
*/

#include <winres.h>
#include "resource.h"
#include "Version.h"

//
// Dialog resources
//
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_COLLECTIONINTERFACEDLG DIALOGEX 0, 0, 311, 220
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION // | WS_SYSMENU
CAPTION "Collection Interface: Download"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Download files from UDL Collection or Themes Collection", IDC_STATIC, 10, 5, 280, 9, SS_LEFT, WS_EX_LEFT
    CONTROL         "",IDC_CI_TABCTRL,"SysTabControl32",0x0 | TCS_OWNERDRAWFIXED,10,17,280,148
    LISTBOX         IDC_CI_COMBO_FILE, 13, 32, 272, 120, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
    CHECKBOX        "Also AutoCompletion", IDC_CI_CHK_ALSO_AC, 13, 140, 100, 11, WS_VISIBLE | WS_CHILD | BS_AUTOCHECKBOX
    CHECKBOX        "Also FunctionList", IDC_CI_CHK_ALSO_FL, 13, 151, 100, 11, WS_VISIBLE | WS_CHILD | BS_AUTOCHECKBOX
    PUSHBUTTON      "&Download", IDC_CI_BTN_DOWNLOAD, 120, 140, 60, 22
    PUSHBUTTON      "?", IDC_CI_HELPBTN, 260, 140, 25, 22
    //Options On Right:
    //PUSHBUTTON      "&Download", IDC_CI_BTN_DOWNLOAD, 13, 140, 60, 22
    //CHECKBOX        "Also AutoCompletion", IDC_CI_CHK_ALSO_AC, 75, 140, 100, 11, WS_VISIBLE | WS_CHILD | BS_AUTOCHECKBOX
    //CHECKBOX        "Also FunctionList", IDC_CI_CHK_ALSO_FL, 75, 151, 100, 11, WS_VISIBLE | WS_CHILD | BS_AUTOCHECKBOX
    CONTROL         "PREPARING", IDC_CI_PROGRESSBAR, "msctls_progress32", WS_BORDER, 10, 166, 280, 11
    LTEXT           "OrigText", IDC_CI_PROGRESSLBL, 10, 179, 200, 9, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "&Close", IDC_CI_BTN_DONE, 230, 179, 60, 14
END

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDD_CI_DOWNLOADHELPDLG DIALOGEX 0, 0, 411, 250
STYLE DS_SETFONT | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Collection Interface: HELP"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    LTEXT           "Dummy Text", IDC_CIDH_BIGTEXT, 10, 10, 380, 187, SS_LEFT | WS_BORDER, WS_EX_LEFT
    PUSHBUTTON      "&Close", IDCANCEL, 350, 200, 40, 14
END

