name: CI_build

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      max-parallel: 6
      matrix:
        build_configuration: [Release, Debug]
        build_platform: [x64, Win32, ARM64]

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1

    - name: MSBuild of plugin dll
      working-directory: vs.proj\
      run: msbuild CollectionInterface.vcxproj /m /p:configuration="${{ matrix.build_configuration }}" /p:platform="${{ matrix.build_platform }}"

    - name: Archive artifacts for x64
      if: matrix.build_platform == 'x64' && matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v4
      with:
          name: plugin_dll_x64
          path: bin64\CollectionInterface.dll

    - name: Archive artifacts for Win32
      if: matrix.build_platform == 'Win32' && matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v4
      with:
          name: plugin_dll_x86
          path: bin\CollectionInterface.dll

    - name: Archive artifacts for ARM64
      if: matrix.build_platform == 'ARM64' && matrix.build_configuration == 'Release'
      uses: actions/upload-artifact@v4
      with:
          name: plugin_dll_arm64
          path: arm64\CollectionInterface.dll

    - name: Create Release Zipfile for ${{ matrix.build_platform }}
      if: startsWith(github.ref, 'refs/tags/v') && matrix.build_configuration == 'Release'
      working-directory: .
      run: |
        echo "This only runs on a tag, I hope"
        if(!(Test-Path -Path .\docs)) {
            New-Item -ItemType Directory -Path .\docs
        }
        Copy-Item -Path README.md -Destination .\docs\
        if((Test-Path -Path bin64\CollectionInterface.dll)) {
            Copy-Item -Path bin64\CollectionInterface.dll -Destination .\CollectionInterface.dll
        }
        if((Test-Path -Path bin\CollectionInterface.dll)) {
            Copy-Item -Path bin\CollectionInterface.dll -Destination .\CollectionInterface.dll
        }
        if((Test-Path -Path arm64\CollectionInterface.dll)) {
            Copy-Item -Path arm64\CollectionInterface.dll -Destination .\CollectionInterface.dll
        }
        $zipName = "CollectionInterface_${{ matrix.build_platform }}.zip"
        $filesToZip = "CollectionInterface.dll", ".\docs\"
        Compress-Archive -Path $filesToZip -Destination -$zipName
